{{ if eq $.Values.watchNamespaces "JOSDK_WATCH_CURRENT" }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {reconciler-name}-role-binding
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: {resource-name}-cluster-role
subjects:
  - kind: ServiceAccount
    name: {{ $.Chart.Name }}
{{ else if eq $.Values.watchNamespaces "JOSDK_ALL_NAMESPACES" }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {reconciler-name}-role-binding
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: {resource-name}-cluster-role
subjects:
  - kind: ServiceAccount
    name: {{ $.Chart.Name }}
    namespace: {{ $.Release.Namespace }}
{{ else }}
{{ range $anamespace := ( split ", " $.Values.watchNamespaces ) }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {reconciler-name}-role-binding
  namespace: {{ $anamespace }}
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: {resource-name}-cluster-role
subjects:
  - kind: ServiceAccount
    name: {{ $.Chart.Name }}
    namespace: {{ $.Release.Namespace }}
---
{{- end }}
{{- end }}
