name: Build with specific Quarkus version

on:
  workflow_call:
    inputs:
      quarkus-version-jq-cmd:
        type: string
        required: false
      quarkus-version:
        type: string
        required: false
      java-version:
        type: string
        required: true
        default: '17'
      branch:
        type: string
        required: true
        default: 'main'
      repository:
        type: string
        default: ''
      native-modules:
        type: string
        required: true
        default: 'integration-tests,samples'
  workflow_dispatch:
    inputs:
      josdk-pr:
        description: 'JOSDK PR number (or main) to use to build QOSDK with'
        type: string
        required: false
      quarkus-pr:
        description: 'Quarkus PR number to use to run a QOSDK build with'
        type: string
        required: true
      java-version:
        description: 'Java version to build with'
        type: string
        required: true
        default: '17'
      branch:
        description: 'QOSDK branch to build'
        type: string
        required: true
        default: 'main'
      native-modules:
        description: 'Comma-separated list of modules that should be built natively'
        type: string
        required: true
        default: 'integration-tests,samples'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}
          repository: ${{ inputs.repository }}

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}
          cache: 'maven'

      - name: Check-out JOSDK if building from PR is requested
        uses: actions/checkout@v4
        if: "${{ inputs.josdk-pr != '' }}"
        with:
          repository: operator-framework/java-operator-sdk
          path: josdk

      - name: Build JOSDK PR if requested
        if: "${{ inputs.josdk-pr != '' }}"
        id: build-josdk-pr
        run: |
          cd josdk
          echo ${{ inputs.josdk-pr }}
          if [ "${{ inputs.josdk-pr }}" = "main" ]; then
            echo "Using JOSDK main branch"
          else
            echo "Checking out ${{ inputs.josdk-pr }} PR"
            git fetch origin pull/${{ github.event.inputs.quarkus-pr }}/head:pr-to-check
            git switch pr-to-check
          fi
          mvn install -DskipTests
          echo "josdk_version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT
          echo "josdk_f8_version=$(mvn help:evaluate -Dexpression=fabric8-client.version -q -DforceStdout)" >> $GITHUB_OUTPUT
          cd -

      - name: Set JOSDK version from build PR if requested
        if: "${{ inputs.josdk-pr != '' }}"
        run: mvn versions:set-property -Dproperty='java-operator-sdk.version' -DnewVersion=${{ steps.build-josdk-pr.outputs.josdk_version }}

      - name: Check-out Quarkus if building from PR is requested
        uses: actions/checkout@v4
        if: "${{ inputs.quarkus-pr != '' }}"
        with:
          repository: quarkusio/quarkus
          path: quarkus

      - name: Build Quarkus PR if requested
        if: "${{ inputs.quarkus-pr != '' }}"
        id: build-quarkus-pr
        run: |
          cd quarkus
          git fetch origin pull/${{ github.event.inputs.quarkus-pr }}/head:pr-to-check
          git switch pr-to-check
          ./update-version.sh 999.${{ github.event.inputs.quarkus-pr }}-SNAPSHOT
          echo "quarkus_f8_version=$(mvn help:evaluate -Dexpression=kubernetes-client.version -q -DforceStdout)" >> $GITHUB_OUTPUT
          mvn -Dquickly
          cd -

      - name: Retrieve Quarkus version from platform
        if: "${{ inputs.quarkus-version == '' && inputs.quarkus-pr == ''}}"
        id: get-quarkus-version
        uses: sergeysova/jq-action@v2
        with:
          cmd: curl https://registry.quarkus.io/client/platforms | jq '${{inputs.quarkus-version-jq-cmd}}'

      - name: Select Quarkus version
        id: quarkus-version
        run: |
          echo ${{ inputs.quarkus-version }}
          if [[ -n "${{ steps.get-quarkus-version.outputs.value }}" ]]; then
            quarkus_version="${{ steps.get-quarkus-version.outputs.value }}"
          fi
          if [[ -n "${{ inputs.quarkus-version }}" ]]; then
            quarkus_version="${{ inputs.quarkus-version }}" 
          fi
          if [[ -n "${{ inputs.quarkus-pr }}" ]]; then
            quarkus_version=999.${{ github.event.inputs.quarkus-pr }}-SNAPSHOT
          fi
          echo "quarkus_version=${quarkus_version}" >> $GITHUB_OUTPUT

      - name: Change Quarkus version
        run: |
          echo "Using Quarkus ${{ steps.quarkus-version.outputs.quarkus_version }}"
          mvn versions:set-property -Dproperty=quarkus.version -DnewVersion=${{ steps.quarkus-version.outputs.quarkus_version }}

      - name: Output versions being used
        run: |
          echo "QOSDK version: $(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)"
          echo "JOSDK version: $(mvn help:evaluate -Dexpression=java-operator-sdk.version -q -DforceStdout)"
          echo "JOSDK Fabric8 version: ${{ steps.build-josdk-pr.outputs.josdk_f8_version }}"
          echo "Quarkus version: $(mvn help:evaluate -Dexpression=quarkus.version -q -DforceStdout)"
          echo "Quarkus Fabric8 version: ${{ steps.build-quarkus-pr.outputs.quarkus_f8_version }}"

      - name: Build with Maven (JVM)
        run: mvn -B formatter:validate install --file pom.xml

      - name: Build with Maven (Native)
        run: mvn -B install -Dnative --file pom.xml -pl '${{inputs.native-modules}}' -amd

      - name: Kubernetes KinD Cluster
        uses: container-tools/kind-action@v2
        with:
          registry: true

      - name: Install OPM and Operator SDK tool
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          source: "github"
          opm: "latest"
          operator-sdk: "latest"

      - name: Install Operator Lifecycle Manager and Operator SDK into Kind
        run: operator-sdk olm install --version v0.23.0

      - name: Run Joke sample using Quarkus DEV mode
        run: |
          SCRIPTS=$(pwd)/.github/scripts
          K8S_NAMESPACE=dev
          CURRENT_PWD=$(pwd)

          # Create and set namespace
          kubectl create namespace $K8S_NAMESPACE
          kubectl config set-context --current --namespace=$K8S_NAMESPACE

          # Run operator in DEV mode
          cd samples/joke
          # Need to override application.properties setting to avoid using dev services instead of set up cluster
          nohup mvn quarkus:dev -Dquarkus.kubernetes-client.devservices.override-kubeconfig=false> app.log 2>&1 &
          PID=$(echo $!)
          cd $CURRENT_PWD

          # Wait until the app installed the jokerequest custom resource definition
          if ! $SCRIPTS/waitFor.sh crd $K8S_NAMESPACE jokerequests.samples.javaoperatorsdk.io; then
            exit 1;
          fi

          # test joke sample
          if ! $SCRIPTS/testJokeSample.sh $K8S_NAMESPACE; then
            exit 1;
          fi;

          # Kill running process
          kill -9 $PID

          # Delete namespace
          kubectl delete namespace $K8S_NAMESPACE

      - name: Archive Dev Mode application logs
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: dev-mode-app.log
          path: samples/joke/app.log

      - name: Run Joke sample into Kubernetes using OLM
        run: |
          SCRIPTS=$(pwd)/.github/scripts

          # Install Joke operator
          if ! $SCRIPTS/installOperatorUsingOlm.sh joke $(pwd)/samples/joke $KIND_REGISTRY; then
            exit 1;
          fi

          # test joke sample
          if ! $SCRIPTS/testJokeSample.sh operators; then
            exit 1;
          fi;

      - name: Run Ping Pong sample into Kubernetes using OLM
        run: |
          SCRIPTS=$(pwd)/.github/scripts

          # Install Ping Pong operator
          if ! $SCRIPTS/installOperatorUsingOlm.sh pingpong $(pwd)/samples/pingpong $KIND_REGISTRY; then
            exit 1;
          fi

          # test joke sample
          if ! $SCRIPTS/testPingPongSample.sh operators; then
            exit 1;
          fi

      - name: (Only if it failed) Log K8s status to troubleshoot issues
        if: failure()
        run: |
          echo "Pod statuses in olm namespace:"
          kubectl get pod -n olm
          echo "Subscriptions:"
          kubectl get subs -n operators -o yaml
          echo "Controllers:"
          kubectl get pod -n operators
          echo "Events:
          kubectl get events