name: Build with specific Quarkus PR

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Target QOSDK branch to build'
        required: true
        default: 'main'
      quarkus_pr:
        description: 'Quarkus PR number to use to run a QOSDK build with'
        required: true

jobs:
  build-quarkus-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          repository: quarkusio/quarkus
          path: quarkus

      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          cache: 'maven'

      - name: Check out PR ${{ github.event.inputs.quarkus_pr }}
        run: |
          cd quarkus
          git fetch origin pull/${{ github.event.inputs.quarkus_pr }}/head:pr-to-check
          git switch pr-to-check
          mvn -Dquickly

  build-with-quarkus-version:
    uses: ./.github/workflows/build-for-quarkus-version.yml
    with:
      quarkus-version: 999-SNAPSHOT
      java-version: 17
      branch: ${{ github.event.inputs.branch }}
      native-modules: "samples,integration-tests"
#      repository: ${{ github.event.pull_request.head.repo.full_name }}