name: Build PRs and main when updated

on:
  schedule:
    # daily run
    - cron: '0 0 * * *'
  push:
    branches:
      - "next-fabric8-version"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'
  pull_request:
    branches-ignore:
      - "next-fabric8-version" # only build that branch daily in specific workflow
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  extract-project-metadata:
    runs-on: ubuntu-latest
    outputs:
      branch_name: ${{ steps.extract_branch.outputs.branch }}
      qosdk_quarkus_version: ${{ steps.quarkus-version.outputs.quarkus_version }}
      latest_stable_quarkus: ${{ fromJSON(steps.get-quarkus-version.outputs.value) }}
      same_quarkus_versions: ${{ steps.output-versions.outputs.same_quarkus_versions }}
    steps:
      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch
      - uses: actions/checkout@v4

      - name: Retrieve Quarkus version
        id: quarkus-version
        run: echo "quarkus_version=$(mvn help:evaluate -Dexpression=quarkus.version -q -DforceStdout -Puse-snapshots)" >> $GITHUB_OUTPUT

      - name: Retrieve latest stable Quarkus version from platform
        id: get-quarkus-version
        uses: sergeysova/jq-action@v2
        with:
          cmd: curl https://registry.quarkus.io/client/platforms | jq '.platforms[0]."current-stream-id" as $current | .platforms[0].streams[] | select(.id == $current) | .releases[0].version'

      - name: Output retrieved versions
        id: output-versions
        run: |
          echo "Project defined Quarkus version: '${{ steps.quarkus-version.outputs.quarkus_version }}'"
          echo "Latest platform Quarkus version: '${{ fromJSON(steps.get-quarkus-version.outputs.value) }}'"
          echo "Different? ${{ needs.extract-project-metadata.outputs.qosdk_quarkus_version != needs.extract-project-metadata.outputs.latest_stable_quarkus }}"
          echo "same_quarkus_versions=${{ needs.extract-project-metadata.outputs.qosdk_quarkus_version == needs.extract-project-metadata.outputs.latest_stable_quarkus }}" >> $GITHUB_OUTPUT

  build-with-defined-quarkus-version:
    needs:
      - extract-project-metadata
    strategy:
      matrix:
        java-version: [ 17, 21 ]
    uses: ./.github/workflows/build-for-quarkus-version.yml
    with:
      quarkus-version: ${{ needs.extract-project-metadata.outputs.qosdk_quarkus_version }}
      java-version: ${{ matrix.java-version }}
      branch: ${{ needs.extract-project-metadata.outputs.branch_name }}
      repository: ${{ github.event.pull_request.head.repo.full_name }}

  build-with-latest-stable-quarkus-version:
    if: ${{ !fromJSON(needs.extract-project-metadata.outputs.same_quarkus_versions) }}
    needs:
      - extract-project-metadata
    strategy:
      matrix:
        java-version: [ 17, 21 ]
    uses: ./.github/workflows/build-for-quarkus-version.yml
    with:
#      quarkus-version: ${{ needs.extract-project-metadata.outputs.latest_stable_quarkus }}
      quarkus-version: 999-SNAPSHOT
      java-version: ${{ matrix.java-version }}
      branch: ${{ needs.extract-project-metadata.outputs.branch_name }}
      native-modules: "integration-tests"
      repository: ${{ github.event.pull_request.head.repo.full_name }}