name: Build PRs and main when updated

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'

jobs:
  latest-quarkus-version:
    runs-on: ubuntu-latest
    outputs:
      quarkus_version: ${{ steps.latest-quarkus-version.outputs.value }}
    steps:
      - id: latest-quarkus-version
        uses: sergeysova/jq-action@v2
        with:
          cmd: curl https://registry.quarkus.io/client/platforms | jq '.platforms[0]."current-stream-id" as $current | .platforms[0].streams[] | select(.id == $current) | .releases[0].version'

  build-for-latest-quarkus-version:
    needs:
      - latest-quarkus-version
    strategy:
      matrix:
        java-version: [ 11, 17 ]
    uses: ./.github/workflows/build-for-quarkus-version.yml
    with:
      quarkus-version: ${{ needs.latest-quarkus-version.outputs.quarkus_version }}
      java-version: ${{ matrix.java-version }}
      branch: main