name: "Quarkus ecosystem CI"
on:
  workflow_dispatch:
  watch:
    types: [ started ]

  # For this CI to work, ECOSYSTEM_CI_TOKEN needs to contain a GitHub with rights to close the Quarkus issue that the user/bot has opened,
  # while 'ECOSYSTEM_CI_REPO_PATH' needs to be set to the corresponding path in the 'quarkusio/quarkus-ecosystem-ci' repository

env:
  ECOSYSTEM_CI_REPO: quarkusio/quarkus-ecosystem-ci
  ECOSYSTEM_CI_REPO_FILE: context.yaml
  JAVA_VERSION: 17

  #########################
  # Repo specific setting #
  #########################

  ECOSYSTEM_CI_REPO_PATH: quarkiverse-operator-sdk

jobs:
  build:
    name: "Build against latest Quarkus snapshot"
    runs-on: ubuntu-latest
    # Allow <ADMIN> to manually launch the ecosystem CI in addition to the bots
    if: github.actor == 'quarkusbot' || github.actor == 'quarkiversebot' || github.actor == '<ADMIN>' || github.event_name == 'workflow_dispatch'

    steps:
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Checkout repo
        uses: actions/checkout@v5
        with:
          path: current-repo
          ref: main

      - name: Checkout Ecosystem
        uses: actions/checkout@v5
        with:
          repository: ${{ env.ECOSYSTEM_CI_REPO }}
          path: ecosystem-ci

      - name: Setup and Run Tests
        run: ./ecosystem-ci/setup-and-test
        env:
          ECOSYSTEM_CI_TOKEN: ${{ secrets.ECOSYSTEM_CI_TOKEN }}
          NAMESPACE_FROM_ENV: fromEnvVarNS
          QUARKUS_OPERATOR_SDK_CONTROLLERS_EMPTY_NAMESPACES: "fromEnv1,fromEnv2"
          VARIABLE_NS_ENV: variableNSFromEnv
